@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/* ### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%) */

:root {
    --linearGradient: hsl(249,99%,64%) to hsl(278, 94%, 30%);
    --red:  hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279,6%,55%);
    --veryDarkViolet: hsl(278, 68%, 11%) ;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

body {
    min-height: 100vh;
}


.bgimage-container {
   height: 200px;
    background-image: url(/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    z-index: -1;
}



.card-box {
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 0 auto;
}

.front-card {
    background-image: url('/images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 275px;
    border-radius: 10px;
    height: 150px;
    position: relative;
    top: -2.5rem;
    z-index: 1;
   padding: 1rem;
   
}

.circle-box {
    display: flex;
    width: 60px;
    height: 30px;
}

.big-circle {
    background-color: var(--white);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#validate {
    background-color: rgb(55, 240, 55);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
    visibility: hidden;
}

.checkmark {
    width: 100%;
    
}

.small-circle {
    
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transform: translate(.5rem, .5rem);
    border: solid var(--white) 1px;
}

.front-card-text {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: var(--lightGrayishViolet);
    
}

.front-card-text-name-exp {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .5rem;
    font-weight: 100;
    color: var(--lightGrayishViolet);
}

.back-card {
    background-image: url('/images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 275px;
    border-radius: 10px;
    height: 150px;
    position: relative;
    margin-left: auto;
    top: 1rem;
    z-index: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cvv {
    margin-right: 2rem;
    color: white;
}

.form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.5rem;
   margin-top: 4rem;
  
}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

label {
    margin-top: 1rem;
    margin-bottom: .25rem;
    color: var(--veryDarkViolet);
}

input {
    border-radius: 10px;
    padding: 1rem;
    border: solid 1px var(--lightGrayishViolet);
    font-family: inherit;
    font-size: 1rem;
    
}

#name-danger {
    font-size: 1rem;
    color: red;
}

#card-danger {
    font-size: 1rem;
    color: red;
}

#exp-danger {
    font-size: 1rem;
    color: red;
    
}

#submit-danger {
    font-size: 1rem;
    color: red;
    
}

input::placeholder {
    font-family: inherit;
    font-size: 1rem;
    color: var(--lightGrayishViolet);
}

button {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: hsl(278, 93%, 17%);
    color: var(--lightGrayishViolet);
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.form-exp {
  margin-top: 1rem;
  display: flex;
}

.cvc-label {
    margin-left: auto;
    margin-right: auto;
}

.exp-inputs {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
}

.mm {
    width: 20%;
}
.yy {
    margin-left: .5rem;
    width: 20%;
}

.cvc {
    margin-left: auto;
    width: 39%;
}

#thank-you {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   text-align: center;
    min-width: 300px;
   margin-bottom: 4rem;
   animation: slideInLeft .5s ease-in;
}

#thank-you p, h2 {
    margin-top: 1rem;

}

#thank-you p {
   color: var(--darkGrayishViolet);

}

#thank-you button {
    width: 100%;
}

@media (min-width: 900px) {
    body {
        min-height: 100vh;
    }

    main {
        display: flex;
        width: 100%;
    }
    
    .bgimage-container {
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 25rem;
    }
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .form-container {
        
        
        margin-left: 15rem;
    }

    .front-card {
        width: 400px;
        height: 215px;
        position: absolute;
        top: 5rem;
        left: 5rem;
        font-size: 150%;
    }

    .front-card-text {
        margin-top: 3rem;
       
    }
    .front-card-text-name-exp {
        
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 100;
        color: var(--lightGrayishViolet);
    }

    .back-card {
        width: 400px;
        height: 215px;
        position: absolute;
        top: 18rem;
        left: 10rem;
        
    }

    label {
        font-size: 1em;
    }

    .form-container {
        display: flex;
        padding: 1.5rem;
        margin-top: 4rem;
        width: 400px;
       
     }
   
}

@keyframes cardTurn {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform:rotate(10deg);
    }
    100% {
      transform:rotate(0deg);
    }
  }

@keyframes circleGreen {
    0% {
        transform: scale(0);
      }
      
      100% {
        transform:scale(-1);
      }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(50rem);
      }
      
      100% {
        transform:translateX(0);
      }
}